body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 30%);
}

#calculator {
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: 'Poppins', sans-serif;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    padding: 25px;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2.6rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 60%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 80%);
}

.add-ons {
    border-radius: 20px;
    background-color: hsl(0, 0%, 20%);
}

.add-ons:hover {
    background-color: hsl(0, 0%, 30%);
}

.add-ons:active {
    background-color: hsl(0, 0%, 40%);
}